body {
  overflow-x: auto;

}

.image {
  position :relative;

  left : 20px;
  height : 400px;
  width : 400px;

}

.hidden {
  display : none;
}

.buttons  {

  font-size:16px;
  border-radius: 12px;
  text-align: center;
  padding: 12px 24px;

}

#audioName{
  position: relative;
  top  :-500px;

}

/*actual audio*/
.audio {
  position: relative;
  top : -500px;
  left: 450px;

}

/*section stuff*/
/*audio upload - upload new audio for this*/
.audioUploadTag{
  position: relative;
  top : 40px;
  left: -120px;

}

#audioButton {
  position : relative;
  left : 5px;


}
/*record button*/
#record {
  position : relative;
  left : 20px;
  background-color: red;
}

#record:hover,
#record:focus {
  background-color: DarkRed;
}

.musicForm {
  position: relative;
  top : 20px;
}

/*end section*/

#addMore {
  position: relative;
  top: 50px;
  left : 20px;
}

#picUpload {
  position: relative;
  top : -35px;
  left: -20px;

}

#picButton {
  position : relative;
  left : -20px;
  top : -50px;

}


#viewButton {
  position: relative;
  top : 40px;
  left:45%;

}


